.hero__center__logo {
  max-width: 180px;
}

.buysell {
  padding-bottom: 90px;
}
.buysell .button {
    margin: 20px 10px;
}


/* overrides */
.hero__content{
  min-height: 0;
  padding: 30px 0;
}

.hero {
  box-shadow: none;
}
.hero__text {
  padding-top: 2em;
}

.landing__section:nth-child(even) {
  background-color: #f7f7f7;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee; }

